*{
    box-sizing: content-box;
    margin:  0px;
}

.feature-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.feature-header{
    padding-top: 20px;
    padding-bottom: 20px;
}

.feature-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

.feature-frame-1,
.feature-frame-2,
.feature-frame-3{
    width: 250px;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.feature-frame-1{
    background-color: #D7E5F6;
}

.feature-frame-2{
    background-color: #D8E0FC;
}

.feature-frame-3{
    background-color: #E8DCF6;
}