*{
    box-sizing: content-box;
    margin:  0px;
}

.feature-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.feature-header{
    padding-top: 20px;
    padding-bottom: 20px;
}

.feature-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

.feature-frame-1,
.feature-frame-2,
.feature-frame-3{
    width: 250px;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.feature-frame-1{
    background-color: #D7E5F6;
}

.feature-frame-2{
    background-color: #D8E0FC;
}

.feature-frame-3{
    background-color: #E8DCF6;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact-container form {
  padding-top: 60px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 60px;
  width: 100%;
  max-width: 600px;
}

.contact-container form h1 {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 900;
  margin-bottom: 32px;
}

.input-contact {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.input-contact label {
  font-size: 1rem;
  color: black;
}

.input-contact input, .input-contact textarea {
  padding: 12px 16px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  font-size: 1rem;
  background: #fafbfc;
  color: #232334;
}

.input-contact input:focus, .input-contact textarea:focus {
  border: 1.5px solid black;
}

.input-contact textarea {
  min-height: 80px;
}

.input-contact button {
  margin-top: 18px;
  padding: 14px 0;
  background: #232334;
  color: white;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
 
}


.contact-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 80px 0 80px;
  margin-bottom: 30px;
  font-size: 1rem;
  position: fixed;
  left: 0;
  bottom: 0;
}

.footer-links {
  display: flex;
  color: black;
  gap: 32px;
  
}
